@media (max-width: 991px) {
    .navbar-nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .custom-cart-icon {
        position: absolute;
        right: 20px; 
        top: 50%; 
        transform: translateY(-50%); 
    }

    .navbar-collapse {
        width: 100%;
    }

    #cart-icon {
        padding-top: 0px;
        padding-right: 28px;
        font-size: 20px;
    }

    .bag-item-count {
        position: absolute;
        right: 10px; 
        background: linear-gradient(90deg, #ff4b5c, #ff3366);
        color: #FEFEFF;
        font-size: 14px;
        font-weight: bold;
        padding: 6px 8px;
        border-radius: 50%;
        box-shadow: 0px 4px 8px rgba(255, 75, 92, 0.5);
        transition: transform 0.3s ease;
        z-index: 10;
    }

    .carousel-caption {
        bottom: 10%;
        left: 3%;
    }

    .carousel-caption h1 {
        font-size: 2.5rem;
    }

    .carousel-caption .company {
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    .carousel-caption {
        bottom: 10%;
        left: 3%;
    }

    .carousel-caption h1 {
        font-size: 2rem;
    }

    .carousel-caption .company {
        font-size: 1.2rem;
    }
}

@media (max-width: 576px) {
    .carousel-caption {
        bottom: 10%;
        left: 3%;
    }

    .carousel-caption h1 {
        font-size: 1.2rem;
    }

    .carousel-caption .company {
        font-size: 0.7rem;
    }
}

